*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgp{
    background-image: url("../assets/img/photo1.jpeg");
    padding: 113px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    }

span{
    color: #F1AD1D;
}

p{
    color: #FFFFFF;
    margin-bottom: 45px;
}

hr{
    width: 61px;
    height: 2px;
    border: none;
    background-color: #F1AD1D;
    margin: 0 auto;

}

.buy-now{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    background-image: url("../assets/img/buy-now-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .buy-now-heading{
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 47px;
  }
  .buy-now-heading span {
    color:#F1AD1D;
  }
  
  .buy-now hr{
    width: 60px;
    height: 3px;
    background-color:#F1AD1D;
    border: none;
    margin: 0 auto;
  }
  
  .buy-now .btn-transparent{
  margin-top: 47px;
  padding: 16px 41px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  font-size: 14px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  }